/* _mixins.scss */
/* MENU STYLES */
.navbar-toggler {
  border-color: #7d5c04 !important;
}

.navbar-toggler-icon > i.fas.fa-bars {
  color: #7d5c04;
  font-size: 28px;
}

.nav-link,
.nav-link:visited {
  color: #7d5c04 !important;
  font-size: 1.4rem;
}

.navbar {
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1px;
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  color: #7d5c04;
}

.navbar-dark {
  background-color: rgba(14, 14, 14, 0.9);
  background-image: url("../img/bg/dark-stripes.png");
  border-bottom: 3px solid #2d2102;
}

.dropdown-menu {
  background-color: rgba(14, 14, 14, 0.9);
  background-image: url("../img/bg/dark-stripes.png");
  z-index: 101;
}

.dropdown-item {
  color: #7d5c04;
  font-size: 1.4rem;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: #c69306;
}

.dropdown-item.active {
  background-color: black !important;
  color: #c69306 !important;
}

.bg-gray {
  background-color: linear-gradient(to right, #2a2a2a, #0e0e0e, #2a2a2a);
}

.nav-item .nav-link {
  font-size: 1.4rem !important;
}

.nav-item > a.nav-link:hover {
  background-color: black !important;
  color: #c69306 !important;
}

.nav-item > a.nav-link.active {
  background-color: black !important;
  color: #c69306 !important;
}

/* TABLET BREAKPOINT */
@media (min-width: 576px) {
  .nav-link {
    font-size: 1.3rem;
  }
  .dropdown-item {
    font-size: 1.3rem;
  }
}

/* LARGE BREAKPOINT */
@media (min-width: 992px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* CAROUSEL STYLES */
.carousel-wrapper {
  max-width: 730px;
  margin: 0 auto;
  margin-top: 0;
  padding-top: 0;
  display: none;
}

.carousel-slide {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.carousel-slide:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .carousel-wrapper {
    display: block;
  }
}

/* HOME PAGE STYLES */
.home-page-guitar__thumb-link, .home-page-guitar__thumb-link:active, .home-page-guitar__thumb-link:link, .home-page-guitar__thumb-link:visited, .home-page-guitar__bordered-label {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.home-page-body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.home-page-body img {
  border: none;
}

.home-page-container {
  margin-top: 5rem;
  background-color: black;
}

.home-page-header {
  text-align: center;
  margin-bottom: 0;
}

.home-page-header__title {
  color: #7d5c04;
  font-size: 2.1rem;
  letter-spacing: 0.05rem;
  line-height: 0.8;
  padding-bottom: 0;
  margin-bottom: 0.25rem;
}

.home-page-header__image {
  display: inline-block;
  max-width: 190px;
  margin: 0.5rem 0 1rem;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.home-page-header__image:hover {
  opacity: 0.7;
}

.secret-weapon-wrapper {
  text-align: center;
}

@media (min-width: 768px) {
  .secret-weapon-wrapper {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
}

.secret-weapon {
  color: #7d5c04;
  font-size: 1.8rem;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .secret-weapon {
    font-size: 1.9rem;
    line-height: 1.465;
  }
}

@media (min-width: 992px) {
  .secret-weapon {
    font-size: 2rem;
  }
}

.home-page-guitar__thumb-link, .home-page-guitar__thumb-link:active, .home-page-guitar__thumb-link:link, .home-page-guitar__thumb-link:visited {
  color: rgba(255, 255, 255, 0.65);
}

.home-page-guitar__thumb-link:hover {
  opacity: 0.7;
}

.home-page-guitar__thumb-link:hover .bordered-label {
  color: #c69306;
  border-color: #c69306;
}

.home-page-guitar__thumb-link:hover .home-page-guitar__bordered-label {
  color: #c69306;
  border-color: #c69306;
}

.home-page-guitar__vertical-image {
  background: inherit;
}

@media (min-width: 576px) {
  .home-page-guitar__vertical-image {
    width: 130px;
  }
}

@media (min-width: 768px) {
  .home-page-guitar__vertical-image {
    width: 150px;
  }
}

@media (min-width: 992px) {
  .home-page-guitar__vertical-image {
    width: 130px;
  }
}

.home-page-guitar__bordered-label {
  display: inline-block;
  width: auto;
  color: #7d5c04;
  font: 1.7rem "Roboto", sans-serif;
  margin: 0.5rem auto 2rem;
  padding: 0.2rem 0.375rem;
  border: 2px solid #2d2102;
  border-radius: 6px;
  background-color: rgba(14, 14, 14, 0.9);
  background-image: url("../img/bg/dark-stripes.png");
  text-decoration: none;
}

.home-page-guitar__bordered-label:hover {
  color: #c69306;
  background: #2a2a2a;
  text-decoration: none;
  border: 2px solid #7d5c04;
}

/* VERTICAL GUITAR ICON LINKS */
.home-page-guitars {
  margin: 0.5rem 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* HOME PAGE TEXT */
.home-page-text {
  color: #7d5c04;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0.75rem;
  background: rgba(14, 14, 14, 0.9) url("../img/bg/dark-stripes.png");
  border: 3px solid #2d2102;
  border-radius: 7px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.home-page-text:hover {
  border: 3px solid #7d5c04;
  color: #c69306;
}

@media (min-width: 768px) {
  .home-page-text {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .home-page-text {
    width: 77%;
  }
}

@media (min-width: 1200px) {
  .home-page-text {
    font-size: 1.4rem;
    width: 65%;
  }
}

/* READY TO PURCHASE */
.ready-to-purchase {
  color: #9b9b9b;
  font-size: 1.25rem;
  margin: 2rem 0 0;
  padding: 0;
  text-align: center;
}

.ready-to-purchase a:link, .ready-to-purchase a:visited {
  color: #c0c0c0;
  text-decoration: none;
}

.ready-to-purchase a:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .ready-to-purchase {
    font-size: 1.35rem;
  }
}

@media (min-width: 992px) {
  .ready-to-purchase {
    font-size: 1.4rem;
  }
}

/* VENDOR LOGOS */
.home-vendor-logos,
.about-vendor-logos {
  margin: 0 auto 1rem auto;
  text-align: center;
}

.home-vendor-logos__logo,
.about-vendor-logos__logo {
  display: inline-block;
  text-align: center;
  margin: 1rem 1rem 0.75rem 0;
  width: 80px;
  line-height: 2.5;
}

@media (min-width: 768px) {
  .home-vendor-logos img,
  .about-vendor-logos img {
    width: 110px;
  }
  .home-vendor-logos__logo,
  .about-vendor-logos__logo {
    width: 110px;
  }
}

/* LARGE BREAKPOINT */
@media (min-width: 992px) {
  .home-vendor-logos__logo,
  .about-vendor-logos__logo {
    max-width: 130px;
  }
}

/* EXTRA LARGE BREAKPOINT */
@media (min-width: 1200px) {
  .home-vendor-logos__logo,
  .about-vendor-logos__logo {
    max-width: 145px;
  }
}

/* LAS VEGAS BACKGROUND */
.bg-las-vegas-dusk {
  height: 250px;
  width: 100%;
  background: url("../img/bg/las-vegas-dusk4-bg.jpg") center center/cover no-repeat;
  border-top: 4px solid #7d5c04;
}

.bg-las-vegas-dusk--caption {
  color: #a6a6a6;
  font-size: 0.9rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 5.3rem;
  letter-spacing: 0.05rem;
}

@media (min-width: 768px) {
  .bg-las-vegas-dusk--caption {
    font-size: 1.3rem;
    padding-top: 5rem;
  }
}

/* MEDIUM BREAKPOINT */
/* FOOTER STYLES */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(14, 14, 14, 0.9);
  background-image: url(../img/bg/dark-stripes.png);
  border-top: 3px solid #2d2102;
}

.footer-item {
  margin: 0.75rem 0;
  color: #7d5c04;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.footer .footer-item i {
  color: #7d5c04 !important;
}

@media (min-width: 576px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* COOKIE ALERT STYLES */
/*
 * Bootstrap Cookie Alert by Wruczek
 * https://github.com/Wruczek/Bootstrap-Cookie-Alert
 * Released under MIT license
 */
.cookiealert a:link,
.cookiealert a:visited {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
}

.cookiealert a:hover {
  background-color: rgba(255, 255, 0, 0.1);
}

.btn-gold {
  background-color: #c69306 !important;
  color: black;
  border: 3px solid #222222;
  border-radius: 5px;
}

.btn-gold:hover {
  opacity: 0.85;
  background-color: #7d5c04;
}

.cookiealert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  border-radius: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  color: #9b9b9b;
  background-color: #0e0e0e;
  background-image: url("../img/bg/dark-stripes.png");
  border-top: 3px solid #2d2102;
  text-align: center;
  padding: 1rem 0;
}

.cookiealert > a,
.cookiealert > a:link,
.cookiealert > a:visited,
.cookiealert > a:active {
  color: #9b9b9b;
}

.cookiealert.show {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
}

.cookiealert a {
  text-decoration: none;
}

.cookiealert a:hover {
  text-decoration: none;
}

.cookiealert .acceptcookies {
  margin: 0 auto;
  vertical-align: baseline;
  text-align: center;
  margin-top: 0.5rem;
}

/* MEDIUM BREAKPOINT */
@media (min-width: 768px) {
  .cookiealert {
    font-size: 1.1rem;
  }
  .cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
    font-size: 1.1rem;
  }
}

/* Guitar Page Styles */
/* Mobile devices (phones up to 575px) */
/* @media (max-width: 575px) { */
.pictured,
.checkmark {
  color: green;
}

.guitar-page-body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.guitar-details-specs__notes {
  color: #817f7f;
}

.guitar-page-container {
  margin-top: 4rem;
}

.guitar-page-header {
  margin-bottom: 0;
  text-align: center;
}

.guitar-page-header__logo {
  margin-top: 0.25rem;
  max-width: 170px;
  display: inline-block;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

.guitar-page-header__logo:hover {
  opacity: 0.7;
}

.guitar-details-container {
  background: inherit;
}

.guitar-details {
  background: inherit;
}

.guitar-details strong,
.guitar-details b {
  color: #9b9b9b;
  font-weight: normal;
}

.guitar-details sup {
  font-weight: bold;
  font-size: 0.85rem;
  margin-left: 0.2rem;
}

.guitar-details .as-pictured {
  font-size: 120%;
}

.guitar-details__title {
  color: #7d5c04;
  font-size: 2.1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  text-align: center;
}

.guitar-details-text,
.guitar-details-text__description {
  color: #817f7f;
}

.guitar-details-text {
  clear: both;
}

.guitar-details-column {
  border: 4px solid #2d2102;
  border-radius: 7px;
  padding: 0;
  background-color: rgba(14, 14, 14, 0.9);
  background-image: url("../img/bg/dark-stripes.png");
  margin: 1rem auto;
  text-align: center;
}

.guitar-details-specs {
  padding-bottom: 1rem;
}

.guitar-details-specs__heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #7d5c04;
  background: -webkit-gradient(linear, left top, right top, from(#2a2a2a), color-stop(#0e0e0e), to(#2a2a2a));
  background: linear-gradient(to right, #2a2a2a, #0e0e0e, #2a2a2a);
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  padding: 0.2rem 0.2rem;
  border-top: 3px solid #2d2102;
  border-bottom: 3px solid #2d2102;
}

.guitar-details-specs__label {
  font-weight: normal;
  color: #9b9b9b;
  letter-spacing: 0.0225rem;
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.guitar-details-specs__list {
  list-style: none;
  padding: 0 1rem;
  margin-left: 0;
  margin-bottom: 0.15rem;
}

.MagicZoom img {
  border: none;
  /* 3px solid $dark-gold) !important; */
}

.guitar-details-column > p {
  padding: 0 0.5rem;
}

.guitar-details-visual {
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0 auto;
}

.guitar-details-visual-photos {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.guitar-details-visual-photos__main-photo {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.guitar-details-visual-photos__thumbnails {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.guitar-details-visual-photos__thumbnails--thumbnail-link {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
  padding-right: 0.5rem;
}

.guitar-details-visual-photos__thumbnails--thumbnail {
  border: 2px solid #2d2102;
}

.guitar-details-text {
  padding: 0;
  width: 100%;
  text-align: center;
  margin-left: 0;
  font-size: 1.2rem;
  clear: both;
}

.guitar-details-text__description {
  padding: 0 1rem;
  color: #817f7f;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  display: block;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .MagicZoom img {
    border: 3px solid #2d2102 !important;
  }
  .guitar-page-header__logo {
    margin-top: 0;
    max-width: 170px;
    display: inline-block;
  }
  .guitar-details-column {
    padding: 0;
    margin: 1rem auto;
    text-align: center;
    width: 80%;
  }
  .guitar-details-visual-photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .guitar-details-visual-photos__main-photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .guitar-details-visual-photos__thumbnails {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .guitar-details-text {
    margin-top: 0;
    margin-left: 0;
    font-size: 1.2rem;
    padding: 0 1rem;
  }
  .guitar-details-text__description {
    font-size: inherit;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .guitar-details-column {
    padding: 0;
    margin: 1rem auto;
    text-align: center;
    width: 90%;
  }
  .guitar-details-visual-photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 385px;
  }
  .guitar-details-visual-photos__main-photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .guitar-details-specs__heading {
    padding: 0.25rem 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .guitar-details-column {
    padding: 0;
    margin: 1rem auto;
    text-align: center;
    width: 70%;
  }
  .guitar-details {
    display: block;
  }
  .guitar-details-text__description {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .guitar-details-specs__heading {
    padding: 0 2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .guitar-details-column {
    padding: 0;
    margin: 1rem auto;
    text-align: center;
    width: 30%;
  }
  .guitar-details {
    display: block;
  }
  .guitar-details-specs__heading {
    padding: 0.25rem 6rem;
    display: block;
  }
}

/* about page styles */
.about-body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.about-body a {
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 1s ease-in-out;
          transition-duration: 1s ease-in-out;
}

.about-header {
  margin: 4rem auto 0;
  text-align: center;
}

.about-header__image {
  max-width: 170px;
  display: inline-block;
  margin-top: 0;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.about-header__image:hover {
  opacity: 0.7;
}

.about-header__title {
  margin: 0.25rem auto 0;
  padding-top: 0;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: #7d5c04;
  letter-spacing: 0.05rem;
}

.about-testimonials {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.about-testimonials div.slick-slide {
  color: #817f7f;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  border-radius: 12px;
  border: 4px solid #2d2102;
  padding: 0.5rem 0.3rem 0 0.1rem;
  font-size: 1rem;
  background-color: rgba(14, 14, 14, 0.9);
  background-image: url("../img/bg/dark-stripes.png");
}

@media (min-width: 768px) {
  .about-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    width: 100%;
    padding-top: 0;
  }
}

.about-content-visual__image {
  background-color: black;
  border: 3px solid #2d2102;
  border-radius: 0.225rem;
  max-width: 100%;
  height: auto;
}

.about-content__visual--image {
  background-color: black;
  border: 3px solid #2d2102;
  border-radius: 0.225rem;
  max-width: 100%;
  height: auto;
}

.about-content__visual--image:hover {
  opacity: 0.7;
  border: 3px solid #c69306;
}

.about-content__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: left;
  background: transparent;
  color: #817f7f;
  text-align: center;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.5rem;
}

@media (min-width: 576px) {
  .about-content__text {
    font-size: 1.2rem;
  }
}

.about-content__visual {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  margin-left: 0.5rem;
}

@media (min-width: 576px) {
  .about-content__visual {
    max-width: 75%;
  }
}

.about-content__visual--image {
  max-width: 210px;
  margin: 0.35rem 0;
  border-radius: 3px;
}

.about-content__text strong {
  color: var(--bright-white);
  font-weight: normal;
}

.about-content__text a:link,
.about-content__text a:visited,
.about-content__text a:active {
  text-decoration: none;
  color: var(--dim-white);
}

.about-content__text a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.about-content__text strong {
  color: var(--bright-white);
  font-weight: normal;
}

/* Gold Logo Div - Bottom */
.about-company-logo-gold {
  width: 100%;
  height: 110px;
  background: center center no-repeat url("../img/bg/smith-custom-shop-medium.png"), -webkit-gradient(linear, left top, left bottom, from(#fdf6ca), to(#a8984a));
  background: center center no-repeat url("../img/bg/smith-custom-shop-medium.png"), linear-gradient(to bottom, #fdf6ca, #a8984a);
  border: none;
}

@media (min-width: 992px) {
  .about-company-logo-gold {
    height: 120px;
    background: 98% center center no-repeat url("../img/bg/smith-custom-shop-medium.png"), -webkit-gradient(linear, left top, left bottom, from(#fdf6ca), to(#a8984a));
    background: 98% center center no-repeat url("../img/bg/smith-custom-shop-medium.png"), linear-gradient(to bottom, #fdf6ca, #a8984a);
  }
}

@media (min-width: 1200px) {
  .about-company-logo-gold {
    height: 125px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .about-content__visual {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
    width: 100%;
    margin-right: 1rem;
    margin-top: -0.2rem;
  }
  .about-content__visual--image {
    max-width: 200px;
    margin-bottom: 0.75rem;
  }
  .about-content__text {
    text-align: left;
    font-size: 1.1rem;
    padding: 0;
    margin-top: 0.425rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .about-content__visual {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
    width: 100%;
    text-align: center;
    margin-right: 1rem;
    margin-top: -0.2rem;
  }
  .about-content__visual--image {
    max-width: 250px;
    margin-bottom: 0.75rem;
  }
  .about-content__text {
    font-size: 1.2rem;
  }
}

/* artists page styles */
.artists-body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.artists-page-container {
  background-color: black;
  margin-top: 4rem;
}

.artists-header {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.artists-header__image {
  max-width: 170px;
  display: inline-block;
  margin-top: 0;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.artists-header__image:hover {
  opacity: 0.7;
}

.artists-header__title {
  font-size: 2rem;
  text-align: center;
  color: #7d5c04;
  display: block;
  margin-bottom: 0.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

/* artist (individual) styles */
.artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  margin: 0 auto 2rem auto;
  border-radius: 12px;
  border: 3px solid #2d2102;
  padding: 0 0.3rem 0.5rem 1rem;
  background-color: rgba(14, 14, 14, 0.9);
  background-image: url("../img/bg/dark-stripes.png");
}

.artist-visual {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: center;
  margin-top: 0.5rem;
}

.artist-visual__image {
  background-color: black;
  border: 3px solid #2d2102;
  border-radius: 0.225rem;
  max-width: 100%;
  height: auto;
}

.artist-visual__image:hover {
  opacity: 0.7;
  border: 3px solid #c69306;
}

.artist-visual__caption {
  display: none;
  color: #7d5c04;
}

.artist-visual__image-link:hover, .artist-visual__image-link:visited, .artist-visual__image-link:active, .artist-visual__image-link:link {
  opacity: 0.65;
  color: #efefef;
  text-decoration: none;
}

.artist-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 95%;
  padding: 0 0.2rem;
  background: transparent;
  color: #817f7f;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.0285rem;
}

.artist-text a {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.artist-text a:link,
.artist-text a:visited,
.artist-text a:active {
  text-decoration: none;
  color: #9b9b9b;
}

.artist-text a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.artist-text__title {
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  margin-bottom: 0;
  color: #7d5c04;
}

.artist-text__bio {
  margin-bottom: 0;
  padding-bottom: 0;
  letter-spacing: 0.0285rem;
}

@media (min-width: 576px) {
  .artists > .artist:nth-child(even) > .artist-text {
    text-align: right;
  }
  .artists > .artist:nth-child(even) > .artist-visual {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .artist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 95%;
  }
  .artist-visual {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
    margin-right: 0.25rem;
    padding-top: 0.5rem;
    margin-top: 0;
  }
  .artist-visual__image {
    max-width: 100%;
    margin-bottom: 0.1rem;
  }
  .artist-visual__caption {
    display: block;
    line-height: 1.4;
    font-size: 0.925rem;
    letter-spacing: 0.0285rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.0285rem;
  }
  .artist-visual__caption:hover {
    color: #c69306;
  }
  .artist-text {
    text-align: left;
    padding: 0 0.5rem;
    margin: 0.3rem 0;
    font-size: 1.1rem;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .artist-text__title {
    font-size: 1.9rem;
    text-align: left;
    letter-spacing: 0.0285rem;
  }
  .artist-text__title:nth-child(odd) {
    text-align: right;
  }
  .artist-text__bio {
    font-size: 1.1rem;
  }
  .artist-text:nth-child(odd) {
    text-align: right;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .artist {
    width: 95%;
  }
  .artist-visual img {
    max-width: 100%;
  }
  .artist-visual__image {
    max-width: 100%;
  }
  .artist-text {
    text-align: left;
    padding: 0 0.5rem;
    margin: 0.3rem 0;
    font-size: 1.1rem;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .artist-text__bio {
    font-size: 1.1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .artist {
    width: 80%;
  }
  .artist-text__bio {
    font-size: 1.1rem;
  }
  .artist-text {
    text-align: left;
    padding: 0 0.5rem;
    margin: 0.3rem 0;
    font-size: 1.1rem;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .artist-text {
    text-align: left;
    padding: 0 0.5rem;
    margin: 0.3rem 0;
    font-size: 1.1rem;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .artist-text__bio {
    font-size: 1.1rem;
  }
}

.gallery-body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.gallery-container {
  padding-bottom: 0;
  margin-bottom: 0;
}

.gallery-header__instructions {
  font-size: 1.25rem;
  font-style: italic;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  color: #7d5c04;
}

.gallery-header__title {
  font-size: 2rem;
  text-align: center;
  color: #7d5c04;
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(126px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(126px, 1fr));
  grid-gap: 5px;
  margin: 0.75rem 0.5rem;
}

.gallery figure figcaption {
  display: none;
}

@media (min-width: 768px) {
  .gallery figure {
    position: relative;
  }
  .gallery figure figcaption {
    display: block;
    position: absolute;
    font-size: 0.85rem;
    color: #ae8006;
    top: 35%;
    bottom: 25%;
    left: 5%;
    right: 5%;
    padding: 0.5rem 0.25rem 0.2rem;
    text-align: center;
    background-color: rgba(14, 14, 14, 0.9);
    background-image: url("../img/bg/dark-stripes.png");
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: opacity 0.85s ease-in-out;
    transition: opacity 0.85s ease-in-out;
  }
  .gallery figure:hover figcaption {
    opacity: 1;
  }
  .gallery figure img:hover {
    opacity: 0.7;
  }
}

.gallery__image {
  margin: 0.25rem;
}

.gallery__image img {
  border: 3px solid #7d5c04;
}

.gallery__image img:hover {
  border: 3px solid #c69306;
}

.gallery-wrapper {
  text-align: center;
  margin: 5rem auto 1.5rem auto;
  border-radius: 12px;
  border: 5px solid #2d2102;
  padding: 0 0.3rem 0 0.1rem;
  background-color: rgba(14, 14, 14, 0.9);
  background-image: url("../img/bg/dark-stripes.png");
  width: 100%;
  /* TODO - jigger with this and media queries width: 60%; */
}

.gallery-wrapper a {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.gallery-wrapper a:link,
.gallery-wrapper a:visited,
.gallery-wrapper a:active {
  text-decoration: none;
  color: #817f7f;
}

.gallery-wrapper a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.gallery-header__logo {
  max-width: 170px;
  display: inline-block;
  margin: 0.25rem auto 0.25rem;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.gallery-header__logo:hover {
  opacity: 0.7;
}

.gallery-wrapper--logo-wrapper .contact-logo {
  max-width: 170px;
  display: inline-block;
  margin: 0.25rem auto 0.25rem;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.gallery-wrapper--logo-wrapper .contact-logo:hover {
  opacity: 0.7;
}

.gallery-wrapper--address-wrapper {
  font-size: 1.3rem;
  color: #817f7f;
}

.gallery-wrapper--address-wrapper .company-name {
  font-size: 2.2rem;
  color: #7d5c04;
  letter-spacing: 0.05rem;
}

.gallery-wrapper--credit-wrapper {
  font-size: 1rem;
  color: #817f7f;
  margin: 0.65rem auto 0.75rem;
}

/* FOOTER STYLES */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(14, 14, 14, 0.9);
  background-image: url(../img/bg/dark-stripes.png);
  border-top: 3px solid #2d2102;
}

@media (min-width: 576px) {
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(156px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
    grid-gap: 5px;
    margin: 0.75rem 0.5rem;
  }
}

@media (min-width: 768px) {
  .gallery-wrapper {
    width: 90%;
  }
}

@media (min-width: 972px) {
  .gallery-wrapper {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .gallery-wrapper {
    width: 75%;
  }
}

@media (min-width: 1500px) {
  .gallery-wrapper {
    width: 65%;
  }
}

/* FAQ page styles */
.faq-body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.faq-container {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: black;
  margin-top: 3.25rem;
}

.faq-wrapper {
  font-size: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  margin: 1rem auto 2rem auto;
  padding: 0 0.3rem 0.5rem 0.3rem;
  border: 5px solid #2d2102;
  border-radius: 12px;
  background-color: rgba(14, 14, 14, 0.9);
  background-image: url("../img/bg/dark-stripes.png");
}

.faq-wrapper a {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.faq-wrapper a:link,
.faq-wrapper a:visited,
.faq-wrapper a:active {
  text-decoration: none;
  color: #817f7f;
}

.faq-wrapper a:hover {
  opacity: 0.8;
  text-decoration: underline;
  color: #9b9b9b;
}

.faq-wrapper .faq {
  margin-bottom: 0.5rem;
}

.faq-header {
  margin: 0.25rem auto 0.75rem auto;
  padding-top: 0;
}

.faq-header__title {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  color: #7d5c04;
  letter-spacing: 0.0285rem;
  display: block;
  margin: 0rem auto;
  padding-top: 0;
}

.faq-header__subtitle {
  color: #7d5c04;
  display: block;
  font-size: 1.35rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.faq-header__instructions {
  font-size: 1.25rem;
  font-style: italic;
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #7d5c04;
}

.faq-header__logo {
  max-width: 170px;
  display: inline-block;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.faq-header__logo:hover {
  opacity: 0.7;
}

/* Section Title */
.faq__question {
  color: #9b9b9b;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid #1a1a1a;
  width: 100%;
  padding: 0.5rem 1rem 0.3rem 1rem;
  -webkit-transition: all linear 0.15s;
  transition: all linear 0.15s;
}

.faq__question:hover {
  text-decoration: underline;
  color: #c0c0c0;
}

.faq__question:active, .faq__question:visited, .faq__question:link {
  color: #817f7f;
}

.faq:last-child .faq__question {
  border-bottom: none;
}

/* Section Content */
.faq__answer {
  display: none;
  padding: 10px;
  margin-bottom: 0;
  background-color: rgba(14, 14, 14, 0.9);
}

.faq__answer > p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.0325rem;
  color: #817f7f;
  background-color: rgba(14, 14, 14, 0.9);
  margin-bottom: 0.35rem;
}

.faq-wrapper__thank-you {
  margin-bottom: 0;
  padding-bottom: 0;
}

.faq-wrapper__thank-you > p {
  color: #7d5c04;
  font-size: 1.2rem;
  font-style: italic;
}

@media (min-width: 576px) {
  .faq-wrapper {
    font-size: 1.1rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    width: 90%;
  }
  .faq-header {
    font-size: 2rem;
  }
  .faq-header__title {
    font-size: 2rem;
  }
  .faq__question {
    font-size: 1.2rem;
  }
  .faq__answer > p {
    font-size: 1.2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .faq-container {
    background-image: url("../img/bg/guitar-making-station2-lg.jpg");
    background-color: black;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .faq-wrapper {
    font-size: 1.2rem;
    width: 80%;
  }
  .faq__question {
    font-size: 1.3rem;
  }
  .faq__answer > p {
    font-size: 1.3rem;
  }
}

@media (min-width: 968px) {
  .faq-wrapper {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .faq-wrapper {
    width: 65%;
  }
}

.privacy-policy-body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.page-top {
  margin-top: 3.5rem;
}

/* PAGE STYLES */
.text-light {
  color: #9b9b9b;
}

.home-logo {
  max-width: 170px;
  display: inline-block;
  margin-top: 0.5rem;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.home-logo:hover {
  opacity: 0.7;
}

.privacy-policy-body h3 {
  font-size: 1.9rem;
}

.privacy-heading {
  font-size: 2rem;
  text-align: center;
  color: #7d5c04;
  display: block;
  margin-bottom: 0.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.privacy-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  text-align: center;
  margin: 0 auto 2rem auto;
  background: #0f0f0f;
  border-radius: 12px;
  margin-top: 1rem;
  border: 5px solid #2a2a2a;
  padding: 0 0.3rem 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1.3;
  font-size: 0.9rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000000), to(#292929));
  background-image: linear-gradient(to bottom right, #000000, #292929);
  text-align: left;
}

.privacy-wrapper p,
.privacy-wrapper li {
  color: #a6a6a6;
}

.privacy-wrapper a,
.privacy-wrapper a:link,
.privacy-wrapper a:active,
.privacy-wrapper a:visited {
  color: #9b9b9b;
}

.privacy-wrapper dt,
.privacy-wrapper b {
  color: #909090;
  font-weight: bold;
}

.privacy-wrapper dd {
  color: #9b9b9b;
  font-weight: normal;
}

@media (min-width: 576px) {
  .privacy-wrapper {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 95%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .privacy-wrapper {
    margin-bottom: 1.5rem;
    width: 90%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .privacy-wrapper {
    margin-bottom: 2rem;
  }
}

/* Contact Body Styles */
.contact-body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.contact-container {
  background-color: black;
  padding-bottom: 0;
  margin-bottom: 0;
}

.contact-info {
  text-align: center;
  margin: 5rem auto 1.5rem auto;
  border-radius: 12px;
  border: 5px solid #2d2102;
  padding: 0 0.3rem 0 0.1rem;
  background-color: rgba(14, 14, 14, 0.9);
  background-image: url("../img/bg/dark-stripes.png");
  width: 90%;
}

.contact-info a {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.contact-info a:link,
.contact-info a:visited,
.contact-info a:active {
  text-decoration: none;
  color: #817f7f;
}

.contact-info a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.contact-info a[href^="tel:"]:before {
  content: "\260e";
  margin-right: 0.2rem;
}

.contact-info__logo .contact-logo {
  max-width: 170px;
  display: inline-block;
  margin: 0 auto 0.25rem;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.contact-info__logo .contact-logo:hover {
  opacity: 0.7;
}

.contact-info__address {
  font-size: 1.1rem;
  color: #817f7f;
}

.contact-info__address > a {
  font-size: 0.9rem;
}

.contact-info__address .company-name {
  font-size: 1.6rem;
  color: #7d5c04;
  letter-spacing: 0.05rem;
}

.contact-info__credits {
  font-size: 0.85rem;
  color: #817f7f;
  margin: 0.65rem auto 0.75rem;
}

.contact-info__credits a {
  color: #c0c0c0;
}

.contact-info__credits > .credit {
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
  color: #9b9b9b;
}

@media (min-width: 576px) {
  .contact-info__address .company-name {
    font-size: 1.8rem;
  }
  .contact-info {
    width: 80%;
  }
  .contact-info__address {
    font-size: 1.25rem;
    color: #817f7f;
  }
  .contact-info__address > a {
    font-size: 1.1rem;
  }
  .contact-info--credit {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .contact-info__address .company-name {
    font-size: 2rem;
  }
  .contact-container {
    background-image: url("../img/bg/guitar-making-station1-md.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 92vh;
  }
  .contact-info {
    width: 53%;
  }
}

@media (min-width: 972px) {
  .contact-container {
    background-image: url("../img/bg/guitar-making-station1-lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .contact-info {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .contact-bg {
    background-image: url("../img/bg/guitar-making-station1-xl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .contact-info {
    width: 39%;
  }
}

@media (min-width: 1500px) {
  .contact-bg {
    background-image: url("../img/bg/guitar-making-station1-xl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .contact-info {
    width: 29%;
  }
}
/*# sourceMappingURL=styles.css.map */