/* artists page styles */
.artists-body {
  font-family: $font-sans-serif;
  background-color: black;
}

.artists-page-container {
  background-color: black;
  margin-top: 4rem;
}

.artists-header {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;

  &__image {
    max-width: 170px;
    display: inline-block;
    margin-top: 0;
    transition: all 100ms;
  }

  &__image:hover {
    opacity: 0.7;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    color: $gold;
    display: block;
    margin-bottom: 0.75rem;
    justify-content: center;
    align-content: center;
  }
}

/* artist (individual) styles */
.artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 0 auto 2rem auto;
  border-radius: 12px;
  border: $border-dark-gold;
  padding: 0 0.3rem 0.5rem 1rem;
  background-color: $main-bg-color;
  background-image: $bg-dark-stripes;
}

.artist-visual {
  flex: 0 1 auto;
  text-align: center;
  margin-top: 0.5rem;

  &__image {
    background-color: black;
    border: $border-dark-gold;
    border-radius: 0.225rem;
    max-width: 100%;
    height: auto;
  }

  &__image:hover {
    opacity: 0.7;
    border: $border-bright-gold;
  }

  &__caption {
    display: none;
    color: $gold;
  }

  &__image-link:hover,
  &__image-link:visited,
  &__image-link:active,
  &__image-link:link {
    opacity: 0.65;
    color: #efefef;
    text-decoration: none;
  }
}

.artist-text {
  flex: 0 1 auto;
  text-align: center;
  align-self: center;
  width: 95%;
  padding: 0 0.2rem;
  background: transparent;
  color: $dim-white3;
  text-align: center;
  font-size: 1rem;
  letter-spacing: $main-letter-spacing;

  & a {
    transition: opacity 1s ease-in-out;
  }

  & a:link,
  & a:visited,
  & a:active {
    text-decoration: none;
    color: $dim-white;
  }

  & a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
    color: $gold;
  }

  &__bio {
    margin-bottom: 0;
    padding-bottom: 0;
    letter-spacing: $main-letter-spacing;
  }
}

@media (min-width: 576px) {
  .artists > .artist:nth-child(even) > .artist-text {
    text-align: right;
  }

  .artists > .artist:nth-child(even) > .artist-visual {
    order: 2;
  }

  .artist {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 95%;
  }

  .artist-visual {
    flex: 1 1 auto;
    text-align: center;
    margin-right: 0.25rem;
    padding-top: 0.5rem;
    margin-top: 0;
  }

  .artist-visual__image {
    max-width: 100%;
    margin-bottom: 0.1rem;
  }

  .artist-visual__caption {
    display: block;
    line-height: 1.4;
    font-size: 0.925rem;
    letter-spacing: $main-letter-spacing;
    font-family: $font-sans-serif;
    letter-spacing: $main-letter-spacing;
  }

  .artist-visual__caption:hover {
    color: $bright-gold;
  }

  .artist-text {
    text-align: left;
    padding: 0 0.5rem;
    margin: 0.3rem 0;
    font-size: 1.1rem;
    align-self: start;
  }

  .artist-text__title {
    font-size: 1.9rem;
    text-align: left;
    letter-spacing: $main-letter-spacing;
  }

  .artist-text__title:nth-child(odd) {
    text-align: right;
  }

  .artist-text__bio {
    font-size: 1.1rem;
  }

  .artist-text:nth-child(odd) {
    text-align: right;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .artist {
    width: 95%;
  }

  .artist-visual img {
    max-width: 100%;
  }

  .artist-visual__image {
    max-width: 100%;
  }

  .artist-text {
    text-align: left;
    padding: 0 0.5rem;
    margin: 0.3rem 0;
    font-size: 1.1rem;
    align-self: start;
  }

  .artist-text__bio {
    font-size: 1.1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .artist {
    width: 80%;
  }

  .artist-text__bio {
    font-size: 1.1rem;
  }

  .artist-text {
    text-align: left;
    padding: 0 0.5rem;
    margin: 0.3rem 0;
    font-size: 1.1rem;
    align-self: start;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .artist-text {
    text-align: left;
    padding: 0 0.5rem;
    margin: 0.3rem 0;
    font-size: 1.1rem;
    align-self: start;
  }

  .artist-text__bio {
    font-size: 1.1rem;
  }
}
