@import 'vars';

/* FAQ page styles */
.faq-body {
  font-family: $font-sans-serif;
  background-color: black;
}

.faq-container {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: black;
  margin-top: 3.25rem;
}

.faq-wrapper {
  font-size: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  margin: 1rem auto 2rem auto;
  padding: 0 0.3rem 0.5rem 0.3rem;
  border: 5px solid $dark-gold;
  border-radius: 12px;
  background-color: $main-bg-color;
  background-image: $bg-dark-stripes;

  a {
    transition: opacity 1s ease-in-out;
  }
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: $dim-white3;
  }
  a:hover {
    opacity: 0.8;
    text-decoration: underline;
    color: $dim-white;
  }

  .faq {
    margin-bottom: 0.5rem;
  }
}

.faq-header {
  margin: 0.25rem auto 0.75rem auto;
  padding-top: 0;

  &__title {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    color: $gold;
    letter-spacing: $main-letter-spacing;
    display: block;
    margin: 0rem auto;
    padding-top: 0;
  }

  &__subtitle {
    color: $gold;
    display: block;
    font-size: 1.35rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &__instructions {
    font-size: 1.25rem;
    font-style: italic;
    display: block;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: $gold;
  }

  &__logo {
    max-width: 170px;
    display: inline-block;
    transition: all;
    transition-duration: 100ms;
  }

  &__logo:hover {
    opacity: 0.7;
  }
}

/* Section Title */
.faq__question {
  color: $dim-white;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid #1a1a1a;
  width: 100%;
  padding: 0.5rem 1rem 0.3rem 1rem;
  transition: all linear 0.15s;

  &:hover {
    text-decoration: underline;
    color: $bright-white;
  }

  &:active,
  &:visited,
  &:link {
    color: $dim-white3;
  }
}

.faq:last-child .faq__question {
  border-bottom: none;
}

/* Section Content */
.faq__answer {
  display: none;
  padding: 10px;
  margin-bottom: 0;
  background-color: $main-bg-color;

  & > p {
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 0.0325rem;
    color: $dim-white3;
    background-color: $main-bg-color;
    margin-bottom: 0.35rem;
  }
}

.faq-wrapper__thank-you {
  margin-bottom: 0;
  padding-bottom: 0;

  & > p {
    color: $gold;
    font-size: 1.2rem;
    font-style: italic;
  }
}

@media (min-width: 576px) {
  .faq-wrapper {
    font-size: 1.1rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    width: 90%;
  }
  .faq-header {
    font-size: 2rem;
  }
  .faq-header__title {
    font-size: 2rem;
  }
  .faq__question {
    font-size: 1.2rem;
  }
  .faq__answer > p {
    font-size: 1.2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .faq-container {
    background-image: url('../img/bg/guitar-making-station2-lg.jpg');
    background-color: black;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .faq-wrapper {
    font-size: 1.2rem;
    width: 80%;
  }

  .faq__question {
    font-size: 1.3rem;
  }

  .faq__answer > p {
    font-size: 1.3rem;
  }
}

@media (min-width: 968px) {
  .faq-wrapper {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .faq-wrapper {
    width: 65%;
  }
}
