/* _mixins.scss */
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

@mixin mq-small-up {
  @media (min-width: $small) {
    @content;
  }
}

@mixin mq-medium-up {
  @media (min-width: $medium) {
    @content;
  }
}

@mixin mq-large-up {
  @media (min-width: $large) {
    @content;
  }
}

@mixin mq-xlarge-up {
  @media (min-width: $xlarge) {
    @content;
  }
}
