.privacy-policy-body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.page-top {
  margin-top: 3.5rem;
}

/* PAGE STYLES */
.text-light {
  color: $dim-white;
}

.home-logo {
  max-width: 170px;
  display: inline-block;
  margin-top: 0.5rem;
  transition: all;
  transition-duration: 100ms;
}

.home-logo:hover {
  opacity: 0.7;
}

.privacy-policy-body h3 {
  font-size: 1.9rem;
}

.privacy-heading {
  font-size: 2rem;
  text-align: center;
  color: $gold;
  display: block;
  margin-bottom: 0.75rem;
  justify-content: center;
  align-content: center;
}

.privacy-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  text-align: center;
  margin: 0 auto 2rem auto;
  background: #0f0f0f;
  border-radius: 12px;
  margin-top: 1rem;
  border: 5px solid #2a2a2a;
  padding: 0 0.3rem 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1.3;
  font-size: 0.9rem;
  background-image: linear-gradient(to bottom right, #000000, #292929);
  text-align: left;
}

.privacy-wrapper p,
.privacy-wrapper li {
  color: $dim-white2;
}

.privacy-wrapper a,
.privacy-wrapper a:link,
.privacy-wrapper a:active,
.privacy-wrapper a:visited {
  color: $dim-white;
}

.privacy-wrapper dt,
.privacy-wrapper b {
  color: #909090;
  font-weight: bold;
}

.privacy-wrapper dd {
  color: $dim-white;
  font-weight: normal;
}

@media (min-width: 576px) {
  .privacy-wrapper {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 95%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .privacy-wrapper {
    margin-bottom: 1.5rem;
    width: 90%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .privacy-wrapper {
    margin-bottom: 2rem;
  }
}
