$bg-black: black;
$main-bg-color: rgba(14, 14, 14, 0.9);
$bg-dark-stripes: url("../img/bg/dark-stripes.png");
$text-light: rgba(255, 255, 255, 0.65);
$text-super-light: rgba(255, 255, 255, 0.5);
$dim-black: #2a2a2a;
$gold: #7d5c04;
$dark-gold: #2d2102;
$bright-gold: #c69306;
$font-sans-serif: "Roboto", sans-serif;
$main-letter-spacing: 0.0285rem;
$wide-letter-spacing: 0.05rem;
$bg-gray: linear-gradient(to right, #2a2a2a, #0e0e0e, #2a2a2a);
$bg-gray2: #2a2a2a;
$dark-gray: #0e0e0e;
$black: rgba(0, 0, 0, 0.9);
$border-dark-gold: 3px solid $dark-gold;
$border-gold: 4px solid $gold;
$border-bright-gold: 3px solid $bright-gold;
$dim-white: #9b9b9b;
$dim-white2: #a6a6a6;
$dim-white3: #817f7f;
$bright-white: #c0c0c0;
